<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/tailwind.css" rel="stylesheet">
  <script src="/htmx.js"></script>
  <script src="/alpine.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src=" https://cdn.jsdelivr.net/npm/regression@2.0.1/dist/regression.min.js "></script>
  <script src="/script.js"></script>
  <style>
    path:hover {
      stroke-width: 6px;
    }

    path {
      transition: all 0.2s ease-in-out 0s;
      stroke-width: 0px;
    }

    text {
      pointer-events: none;
    }
  </style>
</head>

<body class="flex flex-row flex-grow gap-y-4 bg-white min-h-screen h-full w-screen">
  <aside class="flex flex-grow w-1/6 p-5 bg-gray-200 min-h-screen">
    <nav class="flex space-x-2 flex-col space-x-0 space-y-1 min-h-full h-full">
      <p class="text-2xl font-bold">Carpetas de Investigación</p>
      {% for s in sects %}
      <a class="inline-flex items-center rounded-md text-sm font-medium hover:text-accent-foreground px-4 hover:underline justify-start"
        href="{{ s.href }}">{{ s.name }}</a>
      {% endfor %}
    </nav>
  </aside>
  <div class="w-5/6 flex flex-col gap-y-4 bg-white p-5 h-full">
    <div class="flex flex-row gap-x-4">
      {% for p in posts %}
      <div class="flex flex-col w-full bg-gray-{{ 500 + (loop.index * 100) }} rounded text-white p-2">
        <p>{{ p.name }}</p>
        <p class="text-xl font-bold" hx-get="{{ p.method }}" hx-trigger="load">{{ p.content }}</p>
        <p class="text-sm">{{ p.desc }}</p>
      </div>
      {% endfor %}
    </div>
    <section x-init="
        $watch('chart_cfg.pinned', value => {
          for (let i = 0; i < NOMBRES.length; i++) {
            // There's no map zone for undefined areas and outside the city
            if (i + 1 != 4 && i + 1 != 8) {
              document.getElementById(`${num}-${i + 1}`).style.fill = 'rgb(17, 24, 39)'
            }
          }
          init_draw_pinned_chart(1, data, chart_cfg);
        });
        $watch('chart_cfg.colores_en_mapa', value => {
          if (value) {
            chart_cfg.pinned.forEach((e, i) => {
              document.getElementById(`${num}-${e}`).style.fill = window.myBar.data.datasets[i + 1].borderColor;
            });
          } else {
            for (let i = 0; i < NOMBRES.length; i++) {
              // There's no map zone for undefined areas and outside the city
              if (i + 1 != 4 && i + 1 != 8) {
                document.getElementById(`${num}-${i + 1}`).style.fill = 'rgb(17, 24, 39)'
              }
            }
          }
        });
        $watch('data', value => { 
            load_map_data(data, { num: 1, endpoint: '/map_percent' }, chart_cfg); 
          }
        );
        $watch('map_loaded', value => {
          if (value === true) {
            load_map_data(data, { num: 1, endpoint: '/map_percent' }, chart_cfg);
          }
        });
      "
      x-data="{ chart_cfg: { colores_en_mapa: true, pinned: [ 11, 9, 7 ] }, map_loaded: false, data: { annio_inicio: 2023, annio_final: 2023, categorias: [ 1, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18 ] }, num: 1 }"
      id="zonas-calientes" class="flex flex-col p-3">
      <h1 class="text-3xl font-bold pb-3">Zonas Calientes</h1>
      <div class="flex flex-row justify-between">
        <div class="flex flex-col w-1/2 ml-5 pb-5 gap-y-1">
          <div class="flex flex-row gap-x-2">
            <label for="afini-1">Año de corte: </label>
            <input id="afini-1" x-model.number="data['annio_final']" type="number" min="2016" max="2023" step="1"
              value="2023" />
          </div>
          <div class="flex flex-row gap-x-2">
            <label for="ainit-1">Año de inicio: </label>
            <input id="ainit-1" x-model.number="data['annio_inicio']" type="number" min="2016" max="2023" step="1"
              value="2016" />
          </div>
          <div class="flex flex-row gap-x-2">
            <label class="block">Colores en mapa: </label>
            <input value="true" x-model.number="chart_cfg.colores_en_mapa" type="checkbox" class="leading-tight">
          </div>
        </div>
        <div>
          <div class="flex flex-col gap-2">
            <input type="checkbox" id="dropdown" class="hidden">
            <label for="dropdown"
              class="cursor-pointer block w-48 text-gray-700 text-center bg-gray-200 hover:bg-gray-300  p-2 rounded-lg">Select
              Options</label>
            <label x-on:click="
                if (data['categorias'].length == 0) {
                  data['categorias'] = [ 1, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18 ]
                } else { 
                  data['categorias'] = []; 
                }"
              class="cursor-pointer block w-48 text-gray-700 text-center bg-gray-200 hover:bg-gray-300  p-2 rounded-lg">Toggle
              All
            </label>
            <div style="height: 250pt;"
              class="h-1/3 overflow-y-scroll absolute mt-12 w-48 bg-white border border-gray-300 rounded-md shadow-lg z-10 hidden"
              id="dropdown-content">
              {% for p in checks %}
              <label class="block p-2">
                <input value="{{ p.value }}" x-model.number="data.categorias" type="checkbox"
                  class="mr-2 leading-tight">
                {{ p.mensaje }}
              </label>
              {% endfor %}
            </div>
          </div>
          <script>
            const dropdownCheckbox = document.getElementById('dropdown');
            const dropdownContent = document.getElementById('dropdown-content');

            dropdownCheckbox.addEventListener('click', () => {
              dropdownContent.classList.toggle('hidden');
            });
          </script>
        </div>
      </div>
      <div class="flex md:flex-row flex-col gap-x-4 mt-2 min-w-full md:max-h-full border rounded p-5 items-center ">
        <div class="flex flex-col justify-items-center h-full w-full md:w-1/3">
          <div hx-get="/mapa/1" hx-trigger="load" class="c-block justify-items-center flex w-full h-full">
          </div>
          <p id="1-name" class="font-bold">Iztapalapa</p>
        </div>
        <div class="min-h-full min-w-2/3 md:w-2/3">
          <!--<p x-text="pinned.map(e => NOMBRES[e-1])"></p>-->
          <canvas id="pinned-1"></canvas>
          <div class="p-6 items-center">
            <img class="inline w-4 h-4" src="info.svg" alt="Info" />
            <p class="inline text-sm items-center">Incidentes por mes para las alcaldias y categorías seleccionadas en
              el
              período de tiempo de <span class="inline" x-text="data['annio_inicio']">2023</span> hasta <span
                class="inline" x-text="data['annio_final']">2023</span>
            </p>
          </div>
        </div>
      </div>
    </section>
    <section x-init="
        $watch('data', value => { 
            load_map_data(data, { num: 2, endpoint: '/map_percent' }, undefined); 
          }
        );
        $watch('map_loaded', value => {
          if (value === true) {
            load_map_data(data, { num: 2, endpoint: '/map_percent' }, undefined);
          }
        });
        "
      x-data="{ map_loaded: false, data: { annio_inicio: 2023, annio_final: 2023, categorias: [ 1, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18 ] } }"
      id="incidentes-por-mes" class="flex flex-col p-3">
      <h1 class="text-3xl font-bold pb-3">Incidentes por Mes</h1>
      <div class="flex md:flex-row flex-col gap-x-4 min-w-full md:max-h-full border rounded p-5">
        <div hx-get="/mapa/2" hx-trigger="load" class="c-block justify-items-center flex w-full md:w-1/3 h-full">
        </div>
        <div class="min-h-full min-w-2/3 md:w-2/3">
          <p id="2-name" class="text-xl font-bold">Miguel Hidalgo</p>
        </div>
      </div>
    </section>
  </div>
</body>

</html>